{% extends "layout.html" %}
{# This just sets the active page so the menu highlights the currently navigated page #}
{% set active_page = "home" %}
{% block content %}
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="/static/imgs/home-logo.jpg" height="800" width="600" alt="Description">
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Get Started!
            </p>
            <a class="card-header-icon">
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              <a class="button is-large is-primary" href="/tasks">
                Log In
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}