<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{config['website_name']}}</title>
  <link rel="icon" type="image/x-icon" href="/static/imgs/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.css" />
  <link rel="stylesheet" id="bulma" href="/static/css/app.css" />
  <!-- <link rel="stylesheet" type="text/css" href="../css/base.css"> -->
</head>

<body id='app'>
  <!-- <div class="section"> -->
    <header class="nav">
      <div class="container">
        <div class="nav-left"><a href="#/" class="nav-item is-brand"><img src="/static/imgs/nn.png" alt="Buefy"></a></div>
        <div class="nav-right nav-menu">
          <a class="nav-item is-tab {{ 'is-active' if active_page == 'home'}}" href="/">
            Home
          </a>
          <a class="nav-item is-tab {{ 'is-active' if active_page == 'tasks'}}" href="/tasks">
            Tasks
          </a>
        </div>
        <span class="nav-toggle" onclick="document.querySelector('.nav-menu').classList.toggle('is-active');"><span></span> <span></span> <span></span></span>
      </div>
    </header>

  <!-- </div> -->
  <div class="section" style="padding-top:0px">
    {% block content %}{% endblock %}
  </div>
  {% if auth is defined %}
  <script type="text/javascript">
    var auth = {
      username: '{{auth['username']}}',
      password: '{{auth['password']}}'
    }
  </script>
  {% endif %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blissfuljs/1.0.4/bliss.js"></script>
  <!--<script type="text/javascript" src="/static/js/app.js"></script>-->
  {% block javascript %}{% endblock %}

</body>

</html>