{% extends "layout.html" %}
{# This just sets the active page so the menu highlights the currently navigated page #}
{% set active_page = "tasks" %} 
{% block content %}

{# Includes Modal Dialog #}
{% include 'modals/task_%d_help.html' % task['id'] %}
<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="title has-text-centered">Task: {{task['name']}}
          <a class="button help-modal is-primary is-outlined" style="border-radius:1000px">
            <span class="icon is-small">
              <i class="fa fa-question"></i>
            </span>
          </a>
      </div>
    </div>
  </div>
  <div class="columns">
    {% for input in task['inputs'] %}
    <div class="column">
      {% include 'widgets/%s.html' % (input.get('template') if input.get('template') else input['widget']) %}
    </div>
    {% endfor %}
    <div class="column">
      {% if task['type'] == 'categorical' %}
      <h1 class="title  has-text-centered">Task Input:</h1>
      <form id='task' task-id="{{task['id']}}" uid="{{task['uid']}}">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Category</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="category">
                    {% for category in task['classes'] %}
                    <option {% if category == task['category'] %}selected{% endif %}>
                      {{category}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Issue?</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control is-fullwidth">
                <label class="radio">
                  <input  type="radio" name="issue" value="1">
                  Yes
                </label>
                <label class="radio">
                  <input type="radio" name="issue" value="0" checked>
                  No
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary">
                  Confirm
                </button>
              </div>
            </div>
          </div>
        </div>

      </form>
      {% endif %}
      <br><br>
      Unique ID: {{task['uid']}}
      
    </div>
  </div>
</div>

{% endblock %} 
{% block javascript %}
<script type="text/javascript">
  var TASKS_URL = '/tasks'
  var API_TASK_URL = '/api/tasks'
  $.ready().then(function () {
    // Document is ready
    $("#task").addEventListener("submit", function (e) {
      // Add event handler for submitting task
      e.preventDefault();
      taskid = Number($("#task").getAttribute('task-id'))
      uid = Number($("#task").getAttribute('uid'))
      category = $("#category").value
      issue = Number($('input[name="issue"]:checked').value)
      console.log(taskid, uid, category, issue)
      if (category) {
        axios.post(API_TASK_URL, { auth: auth, data: { taskid: taskid, uid: uid, category: category, issue: issue } })
          .then(function (result) {
            if (result.data.success != 0) {
              window.location.reload()  // reload to get next item
            } else {
              console.error('Could not insert the task!')
              alert('Error inserting the task into the database! Conatact System Admin')
            }
          })
          .catch(function (e) {
            console.error(e)
            alert('Error inserting the task into the database! Conatact System Admin')
          })
      } else {
        // this shouldn't be reached
      }
    });

    // Close Modal event handlers
    $$('.modal a.button').forEach(function (button) {
      button.addEventListener('click', function(e) {
        $('.modal').classList.toggle("is-active");
      });
    })
    $('.modal-background').addEventListener('click', function(e) {
        $('.modal').classList.toggle("is-active");
    });
    $('.help-modal').addEventListener('click', function(e) {
        $('.modal').classList.toggle("is-active");
    });

  });

</script>

{% endblock %}


{% block javascript_extended %}
<script type="text/javascript">

</script>

{% endblock %}