{% extends "layout.html" %} {# This just sets the active page so the menu highlights the currently navigated page #} {% set
active_page = "tasks" %} {% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="title has-text-centered">Task: {{task['name']}}</div>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-half is-narrow">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            All Done!
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            There are no more items for you to complete for this task.  Visit the 
            <a href="/tasks">tasks</a> page to work on other tasks!
          </div>
        </div>
        <footer class="card-footer">
        </footer>
      </div>
    </div>
  </div>
</div>

{% endblock %}