{% extends "layout.html" %} 
{# This just sets the active page so the menu highlights the currently navigated page #}
{% set active_page = "tasks" %}
{% block content %}
<div class="container has-text-centered">
  <div class="columns">
    <div class="column is-12">
      <div class="title">Tasks</div>
    </div>

  </div>

  <div class="columns">

    {% for task in tasks %}
      <div class="column is-4">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{task['name']}}
            </p>
            <a class="card-header-icon">
              <span class="icon">
                <i class="fa fa-tasks"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              {{task['description']}}
            </div>
          </div>
          <footer class="card-footer">
            <a href='tasks/{{loop.index -1}}' class="card-footer-item">Begin</a>
          </footer>
        </div>
      </div>
    {% endfor %}

  </div>
  {% endblock %}