<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{input['url']}}" alt="Image">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      {{input['name']}}
    </div>
  </div>
</div>