<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{input['url']}}" alt="Image">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      {{input['name']}} 
      - <a href="http://www.openstreetmap.org/way/{{input['uid']}}" target="_blank">OSM Map</a>
      - <a class="button google_url is-primary is-small" href="#" target="_blank">Google Maps</a>
    </div>
  </div>
</div>

