<h4>{{example["title"]}}</h4>
<div class="columns">
    {% for input in example['inputs'] %}
    <div class="column">
      {% include 'widgets/picture.html' %}
    </div>
    {% endfor %}
    <div class="column">
      <p>
        <ul>
          {% for reason in example['reasons'] %}
            <li>{{reason}}</li>
          {% endfor %}
        </ul>
      </p>
    </div>
</div>