<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ task['name'] }} Help</p>
      <a class="button delete"></a>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <h2>Overview</h2>
        <p>
          Put your help section in here!
        </p>


    </section>
    <footer class="modal-card-foot">
      <a class="button">Close</a>
    </footer>
  </div>
</div>